html {
  font-size: 0.5%;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.fields {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

@media print {
  .fields {
    display: none;
  }
}

.fields > * {
  position: relative;
  display: block;
  padding: 10px 0;
  margin: 10px;
  width: 100%;
  font-size: 15px;
}

.fields textarea {
  min-height: 200px;
}

