html {
  font-size: 0.5%;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.app-container--print .container .fields {
  display: none;
}

.app-container--print {
  display: grid;
  grid-template-columns: 2.5in 2.5in 2.5in;
  grid-template-rows: 3.5in 3.5in 3.5in;
  grid-gap: 0.125in 0.25in;
  padding: 0.125in 0.25in;
  width: 8in;
  max-width: 8.5in;
  height: 10.75in;
}

.app-container--print .container {
  padding: 0;
}

@media print {
  .print-mode {
    display: none;
  }
}

.app-container--print .container {
  display: block;
}

.fields {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

@media print {
  .fields {
    display: none;
  }
}

.fields > * {
  position: relative;
  display: block;
  padding: 10px 0;
  margin: 10px;
  width: 100%;
  font-size: 15px;
}

.fields .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.fields .buttons button {
  padding: 10px 0;
}

.fields textarea {
  min-height: 200px;
}

