html {
  font-size: 0.5%;
}

.download-cards {
  font-size: 15px;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.app-container--print .container .fields {
  display: none;
}

.app-container--print {
  display: grid;
  grid-template-columns: 2.5in 2.5in 2.5in;
  grid-template-rows: 3.5in 3.5in 3.5in;
  grid-gap: 0.05in;

  padding-top: 0.2in;
  padding-bottom: 0.2in;
  height: 10.6in;

  padding-left: 0.45in;
  padding-right: 0.45in;
  width: 7.6in;
}

.app-container--print .container {
  padding: 0;
  background-color: white;
  position: relative;
}

.app-container--print .container::before {
  content: ' ';
  width: calc(100% + 1mm);
  height: calc(100% + 1mm);
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: -0.5mm;
  left: -0.5mm;
}

@media print {
  .print-mode {
    display: none;
  }
}

.app-container--print .container {
  display: block;
}

.fields {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

@media print {
  .fields {
    display: none;
  }
}

.fields > * {
  position: relative;
  display: block;
  padding: 10px 0;
  margin: 10px;
  width: 100%;
  font-size: 15px;
}

.fields .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.fields .buttons button {
  padding: 10px 0;
}

.fields textarea {
  min-height: 200px;
}

